In [120]:
import pandas as pd
import numpy as np

In [121]:
df=pd.read_csv("dataset_heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [122]:
df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

In [123]:
cp = pd.get_dummies(df['cp'], prefix = "cp")
thal = pd.get_dummies(df['thal'], prefix = "thal")
slope = pd.get_dummies(df['slope'], prefix = "slope")
df_final=pd.concat([df,cp,thal,slope],axis=1)
df_final

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,3,145,233,1,0,150,0,2.3,...,0,0,1,0,1,0,0,1,0,0
1,37,1,2,130,250,0,1,187,0,3.5,...,0,1,0,0,0,1,0,1,0,0
2,41,0,1,130,204,0,0,172,0,1.4,...,1,0,0,0,0,1,0,0,0,1
3,56,1,1,120,236,0,1,178,0,0.8,...,1,0,0,0,0,1,0,0,0,1
4,57,0,0,120,354,0,1,163,1,0.6,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,...,0,0,0,0,0,0,1,0,1,0
299,45,1,3,110,264,0,1,132,0,1.2,...,0,0,1,0,0,0,1,0,1,0
300,68,1,0,144,193,1,1,141,0,3.4,...,0,0,0,0,0,0,1,0,1,0
301,57,1,0,130,131,0,1,115,1,1.2,...,0,0,0,0,0,0,1,0,1,0
302,57,0,1,130,236,0,0,174,0,0.0,...,1,0,0,0,0,1,0,0,1,0

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,3,145,233,1,0,150,0,2.3,...,0,0,1,0,1,0,0,1,0,0
1,37,1,2,130,250,0,1,187,0,3.5,...,0,1,0,0,0,1,0,1,0,0
2,41,0,1,130,204,0,0,172,0,1.4,...,1,0,0,0,0,1,0,0,0,1
3,56,1,1,120,236,0,1,178,0,0.8,...,1,0,0,0,0,1,0,0,0,1
4,57,0,0,120,354,0,1,163,1,0.6,...,0,0,0,0,0,1,0,0,0,1

In [124]:
import sklearn
y=df_final["target"]
df_final=df_final.drop(["target","cp","thal","slope"],axis=1)
x=df_final
x.head()

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,145,233,1,0,150,0,2.3,0,...,0,0,1,0,1,0,0,1,0,0
1,37,1,130,250,0,1,187,0,3.5,0,...,0,1,0,0,0,1,0,1,0,0
2,41,0,130,204,0,0,172,0,1.4,0,...,1,0,0,0,0,1,0,0,0,1
3,56,1,120,236,0,1,178,0,0.8,0,...,1,0,0,0,0,1,0,0,0,1
4,57,0,120,354,0,1,163,1,0.6,0,...,0,0,0,0,0,1,0,0,0,1

In [125]:
for column in x:
    print(column)
    print(x[column].unique())

age
[63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 69 59 42 61 40 71 51 65 53
 46 45 39 47 62 34 35 29 55 60 67 68 74 76 70 38 77]
sex
[1 0]
trestbps
[145 130 120 140 172 150 110 135 160 105 125 142 155 104 138 128 108 134
 122 115 118 100 124  94 112 102 152 101 132 148 178 129 180 136 126 106
 156 170 146 117 200 165 174 192 144 123 154 114 164]
chol
[233 250 204 236 354 192 294 263 199 168 239 275 266 211 283 219 340 226
 247 234 243 302 212 175 417 197 198 177 273 213 304 232 269 360 308 245
 208 264 321 325 235 257 216 256 231 141 252 201 222 260 182 303 265 309
 186 203 183 220 209 258 227 261 221 205 240 318 298 564 277 214 248 255
 207 223 288 160 394 315 246 244 270 195 196 254 126 313 262 215 193 271
 268 267 210 295 306 178 242 180 228 149 278 253 342 157 286 229 284 224
 206 167 230 335 276 353 225 330 290 172 305 188 282 185 326 274 164 307
 249 341 407 217 174 281 289 322 299 300 293 184 409 259 200 327 237 218
 319 166 311 169 187 176 241 131]
fbs
[1 0]
restecg
[0 1 2]
thalach
[150 187 172 178 163 148 153 173 162 174 160 139 171 144 158 114 151 161
 179 137 157 123 152 168 140 188 125 170 165 142 180 143 182 156 115 149
 146 175 186 185 159 130 190 132 147 154 202 166 164 184 122 169 138 111
 145 194 131 133 155 167 192 121  96 126 105 181 116 108 129 120 112 128
 109 113  99 177 141 136  97 127 103 124  88 195 106  95 117  71 118 134
  90]
exang
[0 1]
oldpeak
[2.3 3.5 1.4 0.8 0.6 0.4 1.3 0.  0.5 1.6 1.2 0.2 1.8 1.  2.6 1.5 3.  2.4
 0.1 1.9 4.2 1.1 2.  0.7 0.3 0.9 3.6 3.1 3.2 2.5 2.2 2.8 3.4 6.2 4.  5.6
 2.9 2.1 3.8 4.4]
ca
[0 2 1 3 4]
cp_0
[0 1]
cp_1
[0 1]
cp_2
[0 1]
cp_3
[1 0]
thal_0
[0 1]
thal_1
[1 0]
thal_2
[0 1]
thal_3
[0 1]
slope_0
[1 0]
slope_1
[0 1]
slope_2
[0 1]

In [126]:
print(np.min(x))
print(np.max(x))
minimum=np.min(x)
maximum=np.max(x)

age          29.0
sex           0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
ca            0.0
cp_0          0.0
cp_1          0.0
cp_2          0.0
cp_3          0.0
thal_0        0.0
thal_1        0.0
thal_2        0.0
thal_3        0.0
slope_0       0.0
slope_1       0.0
slope_2       0.0
dtype: float64
age          77.0
sex           1.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
ca            4.0
cp_0          1.0
cp_1          1.0
cp_2          1.0
cp_3          1.0
thal_0        1.0
thal_1        1.0
thal_2        1.0
thal_3        1.0
slope_0       1.0
slope_1       1.0
slope_2       1.0
dtype: float64

In [127]:
x = (x - np.min(x)) / (np.max(x) - np.min(x)).values

In [128]:
from sklearn import model_selection,linear_model
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y, test_size=0.20,random_state=5)
model=sklearn.linear_model.LogisticRegression()

In [129]:
model=model.fit(x_train,y_train)

In [130]:
y_pred=model.predict(x_test)

In [131]:
((100 - np.mean(np.abs(y_pred - y_test))*100))

90.1639344262295

In [132]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)

acc = nb.score(x_test,y_test)*100
print("Accuracy of Naive Bayes: {:.2f}%".format(acc))

Accuracy of Naive Bayes: 77.05%

In [133]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 1000, random_state = 1)
rf.fit(x_train, y_train)

acc = rf.score(x_test,y_test)*100
print("Random Forest Algorithm Accuracy Score : {:.2f}%".format(acc))

Random Forest Algorithm Accuracy Score : 90.16%

In [134]:
import pickle
f=open("model.pkl",'wb')
pickle.dump(model,f)
f.close()

In [135]:
x_train

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
266,0.541667,0.0,0.811321,0.458904,0.0,1.0,0.351145,1.0,0.548387,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
215,0.291667,0.0,0.358491,0.490868,1.0,0.0,0.496183,1.0,0.483871,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
99,0.500000,1.0,0.339623,0.273973,1.0,0.0,0.778626,0.0,0.000000,0.75,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
119,0.354167,0.0,0.415094,0.267123,0.0,0.0,0.618321,1.0,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11,0.395833,0.0,0.339623,0.340183,0.0,0.5,0.519084,0.0,0.032258,0.00,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,0.479167,1.0,0.735849,0.166667,1.0,0.5,0.694656,0.0,0.080645,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
73,0.458333,1.0,0.433962,0.308219,0.0,0.0,0.877863,1.0,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
118,0.354167,0.0,0.103774,0.178082,0.0,0.5,0.770992,0.0,0.000000,0.00,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
189,0.250000,1.0,0.150943,0.105023,0.0,0.0,0.664122,0.0,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
206,0.625000,1.0,0.150943,0.257991,0.0,0.0,0.541985,1.0,0.193548,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [150]:
max_min=[np.array(maximum),np.array(minimum)]
f=open("max_min.pkl",'wb')
pickle.dump(max_min,f)
f.close()

In [156]:
print(x_train.iloc[[200]].T)

294
age       0.312500
sex       1.000000
trestbps  0.245283
chol      0.098174
fbs       0.000000
restecg   0.500000
thalach   0.557252
exang     1.000000
oldpeak   0.451613
ca        0.000000
cp_0      1.000000
cp_1      0.000000
cp_2      0.000000
cp_3      0.000000
thal_0    0.000000
thal_1    1.000000
thal_2    0.000000
thal_3    0.000000
slope_0   1.000000
slope_1   0.000000
slope_2   0.000000